.background-container{
    position: relative;
    z-index: 1;
}

.bg{
    height: 100vh;
    background-image: url('../assets/background-image.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 20%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    filter: brightness(0.7);

}

header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 14px 24px;
    color: #fff;
}

header nav{
    display: flex;
    gap: 24px;
}

header nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    position: relative;
}

header nav a::after{
    content:" ";
    position: absolute;
    background-color: #fff;
    width: 0%;
    height: 1px;
    left:0;
    bottom: 0;
    transition:0.5s ease-in-out;    
}

header nav a:hover::after{
    width: 100%;
}


.bio-container{
    height: calc(100vh - 49px);
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 80% 40%;
    background-size: 50%;
}

.bio-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    color: rgb(255,255,255,0.8);
}

.about-me{
    display: flex;
    flex-direction: column;
    align-items:end;
}

.about-me h1{
    font-size: 78px;
    letter-spacing: 64px;
    font-weight: 300;
}

.about-me span{
    font-size: 20px;
    letter-spacing: 2px;
}


/* ABOUT ME SECTION */

.about-me-section{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #595047;
}

.about-me-wrapper{
    width: 800px;
    height: 400px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-radius: 4px;
    background-color: #59453E;
    box-shadow: 5px 30px 14px -26px rgba(0,0,0,0.69);
}

.about-me-text{
    max-width: 60%;
    color: #fff;
    font-weight: 500;
}

.about-me-text h2{
    color:#fff;
    font-size: 30px;
    position: relative;
    margin-bottom: 19px;
}

.about-me-text h2::after{
    content:" ";
    position: absolute;
    background-color: #A64E2E;
    width: 22%;
    height: 3px;
    border-radius: 3px;
    left:0;
    bottom:0;
}

.about-me-text span{
    line-height: 1.5rem;
}

.about-me-wrapper img{
    width: 300px;
    border-radius: 50%;
}

/* SEGUNDO BACKGROUND  */
.bg-2{
    height: 200px;
    background-image: url('../assets/background-image2.jpg');
    filter:brightness(0.7);
}

/* PROJETOS */

.projects-wrapper{
    height: min-content;
    background-color: #595047;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:70px;
}

.projects-wrapper h2{
    background-image: url('../assets/pincelado5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    margin-top: 64px;
    font-size: 50px;
    letter-spacing: 28px;
    font-weight: 300;
    color: #fff;
}


.project{
    background-color: #E6E8E6;
    padding: 20px;
    box-shadow: 5px 30px 14px -26px rgba(0,0,0,0.69);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:44px;
    margin-bottom: 40px;
}

.project-information{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-information h3{
    color: #A64E2E;
    font-size: 23px;
    font-weight: 600;
}

.project-information a{
    text-decoration: none;
    color: #F26E22;
}

.project-image img{
    width: 400px;
}


/* CONTATO  */

.contact{
    height: 25vh;
    padding: 20px 0;
    background-color: #59453E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact h3{
    color: #fff;
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 10px;
    margin-bottom: 24px;
}

.contact ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

.contact ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    text-decoration: none;
}

.contact ul li span{
    color: #fff;
}